/* Import FONT styles */
@import url("./assets/fonts/css/fonts.css");

/* ---------- Variables and Body ---------- */
:root {
  --border-color: rgb(225, 225, 225);
  --primary-color: #81d30fb9;
  --secondary-color: #355611;
  --text-color: #424242;
  --background-color: #ecfec9;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  align-items: center;
  background-color: var(--background-color);
  color: #424242;
  display: flex;
  font-family: "Gilroy-Regular", Tahoma, Arial, sans-serif;
  font-style: normal;
  font-weight: 200;
  justify-content: center;
  margin: auto;
  padding: 0;
  width: 1390px;
}

#content-wrapper {
  display: flex;
  flex-direction: column;
}

#main-content {
  display: flex;
  flex-direction: row;
}

#side-content-container {
  display: flex;
  flex-direction: column;
}

/* ---------- Shared Properties ---------- */
.cards {
  background-color: var(--primary-color);
  border-radius: 20px;
  border: var(--border-color) 1px solid;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0.25rem 1.25rem 0px;
  box-sizing: border-box;
  /* opacity: 1; */
  padding: 24px;
  margin: 12.5px;
  /* transform: scale(0.5); */
}

.experience-ul-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ---------- Special Properties ** Underline Links ---------- */
#active {
  list-style-type: none;
  padding-left: 0;
}

#active .active-item {
  padding-left: 20px; /* Adjust padding to make space for custom bullet */
  position: relative;
}

#active .non-active-item {
  padding-left: 20px; /* Adjust padding to make space for custom bullet */
  position: relative;
}

#active .active-item::before {
  background-color: green; /* Green light color */
  border-radius: 50%; /* Make it round */
  box-shadow: 0 0 10px green; /* Glow effect */
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
}

#active .non-active-item::before {
  background-color: grey; /* Green light color */
  border-radius: 50%; /* Make it round */
  box-shadow: 0 0 10px grey; /* Glow effect */
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
}

/* ---------- Media Queries ---------- */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

.overlay.light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 75px auto;
  padding: 24px;
  background: var(--background-color);
  border: 1px solid #666;
  border-radius: 20px;
  width: 50%;
  height: auto;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  font-family: "Gilroy-Regular", Tahoma, Arial, sans-serif;
  position: relative;
}

.light .popup {
  border-color: #aaa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.popup h2 {
  margin-top: 0;
  color: #666;
}

.popup .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}

.popup .close:hover {
  opacity: 1;
}

.popup-content {
  display: flex;
}

.popup .popup-content {
  max-height: 100%;
  overflow: hidden;
}

.popup p:last-child {
  margin: 0;
}

/* ---------- Modal - About Me ---------- */
#about-me-modal-text-container {
  width: 50%;
  overflow: hidden;
  padding-right: 24px;
  padding-bottom: auto;
}

#about-modal-img-container {
  width: 50%;
  overflow: hidden;
  border-radius: 20px;
}

#about-modal-img-container iframe {
  width: 50%;
  overflow: hidden;
  border-radius: 20px;
}

#about-modal-img-container img {
  width: 100%;
  height: 100%; /* Changed from auto to 100% */
  object-fit: cover; /* Added to maintain aspect ratio */
}

/* ---------- Modal - Contact Me Form ---------- */
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: var(--background-color);
}

.formbold-input-flex {
  display: flex;
  gap: 20px;
  margin-bottom: 22px;
}

.formbold-input-flex > div {
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
}

.formbold-textarea {
  display: flex;
  flex-direction: column-reverse;
}

.formbold-form-input {
  width: 100%;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #dde3ec;
  background: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  outline: none;
  resize: none;
}

.formbold-textarea ::placeholder {
  color: white;
}

.formbold-form-input::placeholder {
  color: rgb(207, 207, 207);
}

.formbold-form-input:focus {
  border-color: #6a64f1;
}

.formbold-form-label {
  color: #07074d;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 18px;
}

.formbold-form-input:focus + .formbold-form-label {
  color: #6a64f1;
}

.formbold-input-file {
  margin-top: 30px;
}

.formbold-input-file input[type="file"] {
  position: absolute;
  top: 6px;
  left: 0;
  z-index: -1;
}

.formbold-input-file .formbold-input-label {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.formbold-filename-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 22px;
}

.formbold-filename {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 24px;
  color: #536387;
}

.formbold-filename svg {
  cursor: pointer;
}

.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  font-size: 16px;
  border-radius: 5px;
  padding: 12px 25px;
  border: none;
  font-weight: 500;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  margin-top: 25px;
}

/* Screen Reader -- for accessibility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
