/* ---------- Second Third Section ---------- */
#middle-section {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: stretch;
  border: 1px solid blue;
}

#experiernce {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: stretch;
  margin: 8px;
}

#music {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
  margin: 8px;
}

#about-me {
  display: flex;
  margin-right: 25px;
  width: 447px;
  height: 351px;
  padding: 24px;
}

#about-me p {
  font-family: "Gilroy-Light", Comic Sans MS;
  text-align: left;
  line-height: 25px;
  font-size: 17px;
  width: 70%;
}

#contact-me {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  width: 446px;
  height: 351px;
}

#about-me-modal {
  background-color: var(--background-color);
}

#contact-me-container {
  display: flex;
  justify-content: space-between;
  font-family: "Gilroy-Bold", Comic Sans MS;
  text-align: left;
  line-height: 18px;
  color: black;
  height: 38px;
  width: auto;
}

#contact-me-title {
  font-family: "Gilroy-Bold", Comic Sans MS;
  text-align: left;
  line-height: 25px;
  font-size: x-large;
  padding: 0;
  margin: 0;
  color: black;
}

#arrow-icon-container {
  height: 38px;
  width: 38px;
}

#arrow-icon-container img {
  height: 100%;
  width: 100%;
}

#about-me {
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: stretch;
}

#self-img {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  margin: auto;
}

#temp {
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: stretch;
}

#temp img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* ---------- Contact ---------- */
.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-link {
  text-decoration: none;
  color: inherit;
}

.contact-link {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.contact-link span {
  position: relative;
  display: inline-block;
}

.contact-link span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.contact-link:hover span::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
