#nav-bar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 24px;
  width: 1390px;
}

#nav-bar h1 {
  margin: 0;
}

#nav-bar nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav-bar nav ul li {
  margin-left: 48px;
}

/* Nav bar hover animation */
#nav-bar nav ul li a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

#nav-bar-items-container {
  margin: 0;
}

#nav-bar nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

#nav-bar nav ul li a:hover::after {
  transform: scaleX(1);
}
