#content-wrapper {
  display: flex;
}

#main-content {
  flex: 1;
}

#side-content {
  width: 447px;
  height: 726px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(0, 255, 0);
}

#contact {
  height: 100px;
  width: 447px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.divider {
  width: 100%;
  margin: 10px auto;
  border: none;
  border-top: 2px solid #4242422d; /* Adjust color as needed */
}
