#content-wrapper {
  display: flex;
}

#main-content {
  flex: 1;
}

#side-content-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 255, 0);
  width: 447px;
}

#side-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 12.5px;
}

#temp img {
  width: 100%;
  height: 100%;
}

#contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#past-works {
  height: 726px;
}

.divider {
  width: 100%;
  margin: 10px auto;
  border: none;
  border-top: 2px solid #4242422d; /* Adjust color as needed */
}
