#side-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#temp img {
  height: 100%;
  width: 100%;
}

#contact {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-around;
}

#past-works {
  max-height: 726px;
  overflow: auto;
}

#resume-modal {
  width: 80vh;
  height: 60vh;
}

.divider {
  border: none;
  border-top: 2px solid #4242422d;
  margin: 10px auto;
  width: 100%;
}
