/* ---------- Top Section ---------- */
#top-section {
  border: 1px solid rgb(0, 13, 255);
  display: flex;
  /* margin: 0 25px 0 25px; */
}

#icon-container {
  object-fit: contain;
  align-items: right;
  height: 120px;
  width: 120px;
  /* margin-left: auto; */
}

#icon-container img {
  height: 100%;
  width: 100%;
}

#info {
  display: flex;
  flex-direction: column;
  height: 476px;
  width: 565px;
}

#info-text {
  width: 80%;
  font-family: "Gilroy-Bold", Comic Sans MS;
  font-size: 22px;
}

#info-text span {
  font-family: "Gilroy-LightItalic", Comic Sans MS;
}

#self-img {
  height: 476px;
  width: 328px;
  overflow: hidden;
  margin: 12.5px 0 0 25px;
}

#img-container {
  width: 100%;
  height: 100%;
}

#img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transform: scale(0.5);
}

#img-container img.animate {
  animation: fadeInAndSpread 0.5s ease-out forwards;
}
